DataBinner {
  layout: grid;
  grid-size: 1 4;
  grid-rows: 1fr 8fr 1fr 1fr;
}

DataBinner RadioSet {
  layout: horizontal;
}

DataBinner Histogram {
  height: auto;
  width: auto;
}

DataBinner #settings {
  layout: grid;
  grid-size: 6;
  grid-columns: 2fr;
  height: 1fr;
}

DataBinner #settings Label {
  margin: 1;
}

DataBinner #navigation {
  align: center middle;
}

DataBinner Button {
  width: 20;
  margin: 1;

}
